<mat-toolbar style="height: 15vh">
  <div class="container">
    <div class="row">
      <div class="col-4 d-flex  align-items-center">
        <div class="d-flex align-items-center">
          <mat-icon class="mr-2">wb_sunny</mat-icon>
          <h2 class="m-1">Weather App</h2>
          <mat-icon class="mr-2">cloud</mat-icon>
        </div>
      </div>
      <div class="col-4 d-flex align-items-center mt-3">
        <mat-form-field appearance="outline" class="flex-grow-1">
          <mat-label>Wyszukaj</mat-label>
          <input matInput  #searchInput />
        </mat-form-field>

        <button mat-icon-button aria-label="Search" class="mb-3 mx-1">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="col-4 d-flex  align-items-center justify-content-end">
        <div class="d-flex align-items-center justify-content-end">
          <span style="font-size: 14px; font-style: italic;">Dawid Zapotoczny</span>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>

<div>
  <div style="min-height: 80vh" class="container mt-3">
    <div *ngIf="cityWeather !== null" class="row">
      <div class="col-4 mb-3">
        <mat-card appearance="outlined" class="clickable-card" (click)="onCardClick()">
          <mat-card-header>
            <mat-card-title>
              <span class="mx-3">{{ cityWeather.name }}</span>
              {{ cityWeather.main.temp}}°C
              <img class="mb-1" [height]="40" [width]="40" [ngSrc]="cityWeather.weather[0].iconUrl" alt="Weather icon" />
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-divider class="my-2"></mat-divider>
            <div class="row mb-2">
              <div class="col">
                <mat-card class="card">
                  <mat-card-content class="card-content">
                    <mat-icon class="mx-1">wb_sunny</mat-icon>
                    <span>{{ cityWeather.sys.sunriseConverted }}</span>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col">
                <mat-card class="card">
                  <mat-card-content class="card-content">
                    <mat-icon class="mx-1">nights_stay</mat-icon>
                    <span>{{ cityWeather.sys.sunsetConverted }}</span>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <mat-card class="card">
                <mat-card-content class="card-content">
                  <span>{{ cityWeather.main.pressure }} hPa</span>
                </mat-card-content>
              </mat-card>
              </div>
              <div class="col">
                <mat-card class="card">
                  <mat-card-content class="card-content">
                    <mat-icon class="mx-1">opacity</mat-icon>
                    <span>{{ cityWeather.main.humidity }} %</span>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <mat-card class="card">
                  <mat-card-content class="card-content">
                    <mat-icon class="mx-1">air</mat-icon>
                    <span>{{ cityWeather.wind.speed }} km/h</span>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col">
                <mat-card class="card">
                  <mat-card-content class="card-content">
                    <mat-icon class="mx-1">visibility</mat-icon>
                    <span>{{ cityWeather.visibility }} km</span>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <mat-card class="card">
                  <mat-card-content class="card-content">
                    <mat-icon class="mx-1">cloud</mat-icon>
                    <span>{{ cityWeather.clouds.all }} %</span>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col">
                <mat-card class="card">
                  <mat-card-content class="card-content">
                    <mat-icon class="mx-1">thermostat</mat-icon>
                    <span>{{ cityWeather.main.feels_like }} °C</span>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>

          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div *ngIf="cityWeather == null">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
